#menu-toggle:checked + #menu {
  display: block;
}
.navbar {
  /* background-color: transparent; */
  position: sticky;
  top: 0;
  z-index: 999;
  color: #fff;
}
.navbar.active {
  background-color: #fff;
  color: #00ad45;
  box-shadow: 0px 1px 10px #999;
}

.navbar__position-fixed{
  position: fixed !important;
}
@media only screen and (max-width: 1300px) {
  .navHomeResize{
    background-color: #fff !important;
    color: #00ad45;
  }

}

 /* .fixed {
  width: 100%;
  color: #5ecc62;
  color: white;
  background-color: #5ecc6275;
  position: fixed;
} */
/*
.navbar.active {
  background-color: rgba(255, 255, 255, 0.9);
} */